<!--
  Generated template for the FeedCreate page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New Feed</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="feedCreateForm" [formGroup]="feedCreateForm" (ngSubmit)="feedCreateForm.valid && saveFeed()" novalidate>
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item *ngFor="let error of titleValidationErrors()">
      <ion-label color="danger">{{ error }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label floating>URL</ion-label>
      <ion-input type="url" formControlName="url"></ion-input>
      <ion-spinner item-right *ngIf="feedCreateForm.controls.url.pending"></ion-spinner>
    </ion-item>
    <ion-item *ngFor="let error of urlValidationErrors()">
      <ion-label color="danger">{{ error }}</ion-label>
    </ion-item>
    <div padding>
      <button type="submit" ion-button block icon-left color="secondary" [disabled]="feedCreateForm.controls.url.pending || feedCreateForm.invalid">
        <ion-icon name="checkmark"></ion-icon>
        <ion-label>Save</ion-label>
      </button>
    </div>
  </form>
</ion-content>
