// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #9C0403,
  secondary:  #039C2E,
  danger:     #AC3738,
  light:      #f4f4f4,
  dark:       #222
);

$toolbar-background: color($colors, primary);
$tabbar-background: color($colors, light);
$list-border-color: rgba(172, 151, 151, 0.5);
$text-input-highlight-color-valid: color($colors, secondary);
$text-input-highlight-color-invalid: color($colors, danger);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$tabs-ios-background: $tabbar-background;
$text-input-ios-highlight-color: color($colors, dark);
$label-ios-text-color-focused: color($colors, dark);



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$list-md-border-color: $list-border-color;
$tabs-md-background: $tabbar-background;
$text-input-md-highlight-color: color($colors, dark);
$label-md-text-color-focused: color($colors, dark);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$tabs-wp-background: $tabbar-background;
$text-input-wp-highlight-color: color($colors, dark);
$label-wp-text-color-focused: color($colors, dark);




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
